html,
body {
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}
#wrapper {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 0 auto;
}
#wrapper h1 {
  color: #616161;
  font-size: 26px;
  font-weight: 200;
  text-align: center;
}
#wrapper h2 {
  text-align: center;
  font-size: 17px;
  font-weight: 200;
}
#wrapper .field {
  width: 25px;
  height: 25px;
  float: left;
  border: solid 1px #fff;
  background-color: #C0C0C0;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  background-size: 100%;
}
#wrapper .field:hover {
  background-color: #DDD;
}
#wrapper .field.marked {
  background-color: #999999;
  background-image: url("images/black5.png");
}
#wrapper .field.mine {
  background-image: url("images/round11.png") !important;
  background-color: #DD9999!important;
}
#wrapper .field.visible {
  background-color: #EEE;
}
#wrapper .card {
  width: 100px;
  height: 100px;
  float: left;
  border: solid 1px #616161;
  margin: 2px;
  border-radius: 3px;
  cursor: pointer;
  background: #2e576b;
}
#wrapper .card img {
  opacity: 0;
  -webkit-transition: opacity 1s ease-out;
}
#wrapper .card.selected img {
  opacity: 1;
}
#wrapper .card.found {
  opacity: 0.4;
}
